* {
  border: none;
  border-radius: 0;
  font-family: "FiraCode";
  font-weight: 500;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #45475a;
  color: #cdd6f4;
}

#clock,
#workspaces,
#window,
#tray,
#pulseaudio,
#bluetooth,
#cpu,
#memory,
#network,
#custom-github,
#custom-timer,
#custom-logitech,
#custom-ollama,
#custom-menu,
#custom-power,
#custom-spotify,
#custom-updates {
  background: #1e1e2e;
  border-radius: 10px;
  padding: 0px 12px;
  margin: 8px 5px 0px 5px;
}

#workspaces {
  background: #1e1e2e;
  padding: 0px 4px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 6px 8px;
  margin: 0px 2px;
  border-radius: 8px;
  color: #6c7086;
  background: transparent;
  transition: all 0.2s ease-in-out;
  outline: none;
}

#workspaces button.active {
  color: #fab387;
}

#workspaces button.focused {
  color: #7287fd;
}

#workspaces button.urgent {
  color: #f38ba8;
}

#workspaces button:hover {
  color: #fab387;
}

#window {
  font-weight: 500;
}

#clock {
  color: #89b4fa;
  padding-right: 10px;
}

#custom-menu {
  color: #89b4fa;
  padding-left: 12px;
  padding-right: 12px;
}

#custom-power {
  color: #fab387;
  padding-left: 12px;
  padding-right: 12px;
}

#custom-spotify {
  color: #a6e3a1;
  font-weight: 500;
  padding-left: 12px;
  padding-right: 12px;
}

#custom-spotify.paused {
  color: #6c7086;
}

#bluetooth {
  color: #89b4fa;
}

#bluetooth.connected {
  color: #89b4fa;
}

#bluetooth.disabled {
  color: #7f849c;
}

#cpu {
  color: #89dceb;
}

#memory {
  color: #74c7ec;
}

#network {
  color: #89b4fa;
}

#pulseaudio {
  color: #cba6f7;
}

/* Volume module when muted */
#pulseaudio.volume.muted {
  color: #7f849c;
}

/* Microphone module when muted */
#pulseaudio.microphone.source-muted {
  color: #7f849c;
}

#custom-github {
  color: #b4befe;
}

#custom-github.notifications {
  color: #f38ba8;
}

#custom-timer {
  color: #f9e2af;
}

#custom-logitech {
  color: #89dceb;
}

#custom-logitech.low {
  color: #fab387;
}

#custom-logitech.critical {
  color: #f38ba8;
}

#custom-ollama {
  color: #a6e3a1;
  padding-left: 12px;
  padding-right: 16px;
}

#custom-ollama.stopped {
  color: #7f849c;
}
